<!--
  Generated template for the EditinitiallyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="1">
    <ion-title>แก้ไขอาการเริ่มแรก</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card id="css" padding>
    <div class="topic">อาการเริ่มแรกที่ได้รับการวินิจฉัย</div>
    <div class="topic">กรุณาเลือกข้อที่ท่านมีอาการดังต่อไปนี้ (เลือกได้มากกว่า1คำตอบ)</div>
    <br />

    <ion-item no-lines (change)="changeedgy()">
      <input type="checkbox" name="edgy" *ngIf="edgy" checked/>
      <input type="checkbox" name="edgy" *ngIf="!edgy" />
      <label for="edgy" (click)="changeedgy()" text-wrap> หงุดหงิด กระสับกระส่าย วิตกกังวล </label><br />
    </ion-item>

    <ion-item no-lines (change)="changesleep()">
      <input type="checkbox" name="sleep" *ngIf="sleep" checked/>
      <input type="checkbox" name="sleep" *ngIf="!sleep" />
      <label for="sleep" (click)="changesleep()" text-wrap> นอนหลับยาก </label><br />
    </ion-item>

    <ion-item no-lines (change)="changeeat()">
      <input type="checkbox" name="eat" *ngIf="eat" checked/>
      <input type="checkbox" name="eat" *ngIf="!eat" />
      <label for="eat" (click)="changeeat()" text-wrap> กินจุ</label><br />
    </ion-item>

    <ion-item no-lines (change)="changehot()">
      <input type="checkbox" name="hot" *ngIf="hot" checked/>
      <input type="checkbox" name="hot" *ngIf="!hot" />
      <label for="hot" (click)="changehot()" text-wrap> ขี้ร้อน เหงื่อแตก ผิวชุ่มเหงื่อ แม้อากาศจะไม่ร้อน</label
      ><br />
    </ion-item>

    <ion-item no-lines (change)="changefast()">
      <input type="checkbox" name="fast" *ngIf="fast" checked/>
      <input type="checkbox" name="fast" *ngIf="!fast"/>
      <label for="fast" (click)="changefast()" text-wrap> ชีพจรเต้นเร็ว ใจสั่น เหนื่อยง่าย</label><br />
    </ion-item>

    <ion-item no-lines (change)="changeshakinHands()">
      <input type="checkbox" name="shakinHands" *ngIf="shakinHands" checked/>
      <input type="checkbox" name="shakinHands" *ngIf="!shakinHands" />
      <label for="shakinHands" (click)="changeshakinHands()" text-wrap> มือสั่น</label><br />
    </ion-item>

    <ion-item no-lines (change)="changeneck()">
      <input type="checkbox" name="neck" *ngIf="neck" checked/>
      <input type="checkbox" name="neck" *ngIf="!neck" />
      <label for="neck" (click)="changeneck()" text-wrap> คอโต</label><br />
    </ion-item>

    <ion-item no-lines (change)="changegland()">
      <input type="checkbox" name="gland" *ngIf="gland" checked/>
      <input type="checkbox" name="gland" *ngIf="!gland" />
      <label for="gland" (click)="changegland()" text-wrap> พบก้อนในต่อมไทรอยด์</label><br />
    </ion-item>

    <ion-item no-lines (change)="changebigeyes()">
      <input type="checkbox" name="bigeyes" *ngIf="bigeyes" checked/>
      <input type="checkbox" name="bigeyes" *ngIf="!bigeyes" />
      <label for="bigeyes" (click)="changebigeyes()" text-wrap> ตาโต หรือตาโปนมากกว่าปกติ</label><br />
    </ion-item>

    <ion-item no-lines (change)="changeshit()">
      <input type="checkbox" name="shit" *ngIf="shit" checked/>
      <input type="checkbox" name="shit" *ngIf="!shit" />
      <label for="shit" (click)="changeshit()" text-wrap> ถ่ายอุจจาระบ่อยเกิน 3 ครั้งต่อวัน</label><br />
    </ion-item>

    <ion-item no-lines (change)="changeweight()">
      <input type="checkbox" name="weight" *ngIf="weight" checked/>
      <input type="checkbox" name="weight" *ngIf="!weight" />
      <label for="weight" (click)="changeweight()" text-wrap> น้ำหนักลดแม้จะรับประทานอาหารได้</label><br />
    </ion-item>

    <ion-item no-lines (change)="changeleg()">
      <input type="checkbox" name="leg" *ngIf="leg" checked/>
      <input type="checkbox" name="leg" *ngIf="!leg" />
      <label for="leg" (click)="changeleg()" text-wrap> ต้นแขนและต้นขาทั้งสองข้างอ่อนแรง</label><br />
    </ion-item>

    <ion-item no-lines *ngIf="showFormSex" (change)="changefshit()">
      <input type="checkbox" name="fshit" *ngIf="fshit" checked/>
      <input type="checkbox" name="fshit" *ngIf="!fshit" />
      <label for="fshit" (click)="changefshit()" text-wrap>
        (สำหรับผู้หญิง)ประจำเดือนมาน้อยครั้งและปริมาณลดลง</label
      ><br />
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <label for="disease" class="topic">ท่านมีโรคประจำตัวอื่นๆหรือไม่ </label>
        </ion-col>
        <ion-col col-6>
          <select (change)="changeOther()" *ngIf="disease">
            <option value=true selected="selected">มี</option>
            <option value=false >ไม่มี</option>
          </select>
          <select (change)="changeOther()" *ngIf="!disease">
            <option value=true >มี</option>
            <option value=false selected="selected">ไม่มี</option>
          </select>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="disease">
      <ion-row>
        <ion-col col-4>
          <label class="topic"  color="danger">*ถ้ามี(โปรดระบุโรค) </label>
        </ion-col>
        <ion-col col-6>
          <input type="textarea" [(ngModel)]="diseaseName" size="20" value="{{diseaseName}}"/>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <button ion-button color="1" (click)="presentConfirm()">บันทึก</button>
</ion-content>
