<ion-header>
  <ion-navbar color="1">
    <ion-title>เข้าสู่ระบบ</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div id="css">
  <ion-grid>
    <ion-row>
      <ion-col col-1> </ion-col>
      <ion-col col-5>
        <div style=" text-align: center">
          <img
            id="logo"
            src="assets/icon/Pic_Icon/Hos_Img.png"
            class="img-responsive"
          />
        </div>
      </ion-col>
      <ion-col col-5>
        <div style=" text-align: center">
          <img
            id="logo"
            src="assets/icon/Pic_Icon/Med_Img.png"
            class="img-responsive"
          />
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form [formGroup]="formgroup" (ngSubmit)="doSignup()">
    <div style="text-align: center;">
      <ion-list>
        <ion-card style="height:100%">
          <ion-item no-lines>
            <ion-label floating color="dark">รหัสบัตรประชาชน</ion-label>
            <ion-input
              formControlName="username"
              #usernameInput
              type="text"
            ></ion-input>
          </ion-item>
          <ion-item no-lines *ngIf="formgroup?.controls?.username?.hasError('required') && formgroup?.controls?.username?.touched"> 
            <p class="alert">***กรุณากรอกรหัสบัตรประชาชน***</p>
</ion-item> 
          <div style="margin: 10px;"></div>
        </ion-card>

        <ion-card style="height:100%">
          <ion-item no-lines>
            <ion-label floating color="dark">รหัสผ่าน</ion-label>
            <ion-input formControlName="password" #passwordInput type="password"></ion-input>
          </ion-item>
          <ion-item no-lines *ngIf="formgroup?.controls?.password?.hasError('required') && formgroup?.controls?.password?.touched"> 
      <p class="alert">***กรุณากรอกรหัสผ่าน***</p>
    </ion-item> 
          <div style="margin: 10px;"></div>
        </ion-card>
      </ion-list>

      <div padding></div>
      <button
        type="submit"
        [disabled]="!formgroup.valid"
        ion-button
        small
        (click)="onClickLoginButton()"
        color="1"
      >
        เข้าสู่ระบบ
      </button>

     
    </div>
  </form>
  <br> <a (click)="changePass()" style="float: right;">ลืมรหัสผ่าน</a>
</div>
</ion-content>
