<ion-header>
  <ion-navbar color="1">
    <ion-title>แก้ไขประวัติทั่วไป</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formgroup" (ngSubmit)="doUpdate()">
  <ion-card id="css" padding>
  <ion-list >

    <ion-grid>
      <ion-row>
        <ion-col col-4>
            <label for="title" >คำนำหน้าชื่อ      </label>
          </ion-col>
          <ion-col col-6>
            <select formControlName="title">
              <option value="นาย">นาย</option>
              <option value="นาง">นาง</option>
              <option value="นางสาว">นางสาว</option>
              <option value="เด็กหญิง">เด็กหญิง</option>
              <option value="เด็กชาย">เด็กชาย</option>
              <option value="Mr.">Mr.</option>
                <option value="Mrs.">Mrs.</option>
                <option value="Miss ">Miss</option>
                <option value="นพ.">นพ.</option>
                    <option value="พญ.">พญ.</option>
                    <option value="Dr.">Dr.</option>
            </select>
            <p
              class="help-inline"
              *ngIf="!formgroup.get('title').valid
  && formgroup.get('title').touched"
            >
              กรุณากรอกเลือกคำนำหน้าชื่อ
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <label>ชื่อ*</label>
          </ion-col>
          <ion-col col-6>
            <input
              type="text"
              id="fname"
              name="fname"
              formControlName="fname"
              size="20"
            />
            <p
              class="help-inline"
              *ngIf="!formgroup.get('fname').valid
  && formgroup.get('fname').touched"
            >
            กรุณากรอกชื่อ ภาษาไทย หรือ ภาษาอังกฤษ เท่านั้น
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <label>นามสกุล*</label>
          </ion-col>
          <ion-col col-6>
            <input
              type="text"
              id="lname"
              name="lname"
              formControlName="lname"
              size="20"
            />
            <p
              class="help-inline"
              *ngIf="!formgroup.get('lname').valid
          && formgroup.get('lname').touched"
            >
            กรุณากรอกนามสกุล ภาษาไทย หรือ ภาษาอังกฤษ เท่านั้น
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <label>วันเกิด</label>
          </ion-col>
          <ion-col col-6>
            <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD MMMM YYYY" min={{startMin}} max={{startMax}} formControlName="birthday" (ionChange)="updateAge()"  
            monthNames="มกราคม, กุมภาพันธ์, มีนาคม,เมษายน,พฤษภาคม,มิถุนายน,กรกฎาคม,สิงหาคม ,กันยายน ,ตุลาคม ,พฤศจิกายน ,ธันวาคม, "></ion-datetime>
            <p class="help-inline"
            *ngIf="!formgroup.get('birthday').valid
            && formgroup.get('birthday').touched">กรุณาเลือกวันเกิด</p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <label>อายุ</label>
          </ion-col>
          <ion-col col-6>
            <span> {{ age }} ปี</span>
          </ion-col>
        </ion-row>
      </ion-grid>


      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <label>เลขบัตรประชาชน/ เลขพาสปอร์ต*</label>
          </ion-col>
          <ion-col col-12>
            <input type="text" formControlName="idCard" disabled="disabled" size="50" />
            <p
              class="help-inline"
              *ngIf="!formgroup.get('idCard').valid
          && formgroup.get('idCard').touched"
            >
            กรุณากรอกตัวเลข หรือ ภาษาอังกฤษ อย่างน้อย 6 หลัก และ ไม่เกิน 13 หลัก
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <label>เพศ</label>
          </ion-col>
          <ion-col col-6>
            <select formControlName="sex">
              <option value="หญิง">หญิง </option>
              <option value="ชาย">ชาย </option>
            </select>
            <p
              class="help-inline"
              *ngIf="!formgroup.get('sex').valid
          && formgroup.get('sex').touched"
            >
              กรุณาเลือกเพศ
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <label>สัญชาติ*</label>
          </ion-col>
          <ion-col col-6>
            <input type="text" formControlName="National" size="20" />
            <p
              class="help-inline"
              *ngIf="!formgroup.get('National').valid
          && formgroup.get('National').touched"
            >
            กรุณากรอกสัญชาติ ภาษาไทย และ ภาษาอังกฤษ เท่านั้น
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <label>สถานะการสมรส</label>
          </ion-col>
          <ion-col col-6>
            <select formControlName="status">
              <option value="โสด">โสด </option>
              <option value="สมรส">สมรส </option>
              <option value="หย่า">หย่า </option>
              <option value="คู่สมรสเสียชีวิต">คู่สมรสเสียชีวิต </option>
            </select>
            <p
              class="help-inline"
              *ngIf="!formgroup.get('status').valid
          && formgroup.get('status').touched"
            >
              กรุณาเลือกสถานะการสมรส
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <label>เบอร์โทรศัพท์ที่ติดต่อได้*</label>
          </ion-col>
          <ion-col col-6>
            <input type="phone" formControlName="tel" size="20" />
            <p
              class="help-inline"
              *ngIf="!formgroup.get('tel').valid
          && formgroup.get('tel').touched"
            >
            กรุณากรอกตัวเลข อย่างน้อย 6 หลัก และ ไม่เกิน 15 หลัก
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>



      <ion-grid>
      <ion-row>
        <ion-col col-4>
            <label  >ส่งตัวมาจาก รพ.     </label>
          </ion-col>
            <ion-col col-6>
            <select formControlName="from_name1" (change)="showHosIn($event.target.value)">
              <option *ngFor="let hos of hospitals" value="{{hos.hos_name}}">{{hos.hos_name}}</option>
            </select>
            
        </ion-col>
      </ion-row>
    </ion-grid>
   
    <ion-grid *ngIf="showNameHosIn">
      <ion-row>
        <ion-col col-4>
          <label  >กรุณาระบุ    </label>
        </ion-col>
        <ion-col col-6>
          <input type="text" formControlName="from_name2" size="20">
          <p
                class="help-inline"
                *ngIf="!formgroup.get('from_name2').valid
      && formgroup.get('from_name2').touched"
              >
                กรุณากรอกชื่อโรงพยาบาล ภาษาไทย  หรือ ภาษาอังกฤษ เท่านั้น
              </p>  
        </ion-col>
      </ion-row>
    </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <label>HN รพ. ที่ส่งตัวมา</label>
          </ion-col>
          <ion-col col-6>
            <input type="text" formControlName="from_id" size="20" />
            <p
              class="help-inline"
              *ngIf="!formgroup.get('from_id').valid
      && formgroup.get('from_id').touched"
            >
              กรุณากรอกตัวเลข
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <label for="buuhn">HN รพ.มหาวิทยาลัยบูรพา*</label>
          </ion-col>
          <ion-col col-6>
            <input type="text" formControlName="Hos_base_id" size="20" />
            <p
              class="help-inline"
              *ngIf="!formgroup.get('Hos_base_id').valid
      && formgroup.get('Hos_base_id').touched"
            >
              กรุณากรอกตัวเลข
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>



      <ion-grid>
        <ion-row>
          <ion-col col-4>
              <label >รพ.ที่ส่งตัวกลับ     </label>
            </ion-col>
              <ion-col col-6>
                <select formControlName="to_name1" (change)="showHosOut($event.target.value)">
                  <option *ngFor="let hos of hospitals" value="{{hos.hos_name}}">{{hos.hos_name}}</option>
              </select>
          </ion-col>
        </ion-row>
      </ion-grid>

     
      
     

      <ion-grid *ngIf="showNameHosOut">
        <ion-row>
          <ion-col col-4>
            <label  >กรุณาระบุ    </label>
          </ion-col>
          <ion-col col-6>
            <input type="text" formControlName="to_name2" size="20"> 
            <p
                class="help-inline"
                *ngIf="!formgroup.get('to_name2').valid
      && formgroup.get('to_name2').touched"
              >
              กรุณากรอกชื่อโรงพยาบาล ภาษาไทย หรือ ภาษาอังกฤษ เท่านั้น
              </p>   
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <label>HN รพ. ที่ส่งตัวกลับ</label>
          </ion-col>
          <ion-col col-6>
            <input type="text" formControlName="to_id" size="20" />
            <p
              class="help-inline"
              *ngIf="!formgroup.get('to_id').valid
  && formgroup.get('to_id').touched"
            >
              กรุณากรอกตัวเลข
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ion-card>

  <button ion-button color="1" [disabled]="!formgroup.valid" (click)="presentConfirm()">บันทึก</button>
</form>
</ion-content>
