<!--
  Generated template for the EditconditionultrasoundPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="1">
    <ion-title>ผลการตรวจ Ultrasound</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formgroup">
    <ion-card id="css" padding>
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <label for="thy_che_date">วันที่</label>
          </ion-col>
          <ion-col col-8>
            <ion-datetime
              displayFormat="DD MMMM YYYY"
              pickerFormat="DD MMMM YYYY"
              min="{{startMin}}"
              max="{{startMax}}"
              formControlName="ultradate"
              placeholder="ระบุวันที่ตรวจ"
              [(ngModel)]="presentDate"
              monthNames="มกราคม, กุมภาพันธ์, มีนาคม,เมษายน,พฤษภาคม,มิถุนายน,กรกฎาคม,สิงหาคม ,กันยายน ,ตุลาคม ,พฤศจิกายน ,ธันวาคม, "
            >
            </ion-datetime>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <label for="thy_che_size">ขนาดต่อมไทรอยด์ </label>
          </ion-col>
          <ion-col col-8>
            <input
              type="number"
              formControlName="thy_che_size"
              id="thy_che_size"
              name="thy_che_size"
              step="1"
              style="width: 60px;"
            />
            <label>กรัม</label>
            <p
              class="help-inline"
              *ngIf="!formgroup.get('thy_che_size').valid
&& formgroup.get('thy_che_size').touched"
            >
              กรุณากรอกตัวเลข
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <label text-wrap>ก้อนเนื้องอกในต่อมไทรอยด์ </label>
          </ion-col>
          <ion-col col-6>
            <select formControlName="thy_che_found">
              <option value="พบ">พบ</option>
              <option value="ไม่พบ">ไม่พบ</option>
              <p class="help-inline" *ngIf="!formgroup.get('thy_che_found').valid && formgroup.get('thy_che_found').touched">กรุณาเลือกพบหรือไม่พบก้อนเนื้อ</p>
            </select>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card>
  </form>
  <button
    ion-button
    color="1"
    (click)="presentConfirm()"
    [disabled]="!formgroup.valid"
  >
    บันทึก
  </button>
</ion-content>
