<ion-header>
  <ion-navbar color="1">
    <ion-title>บันทึกผลการตรวจร่างกาย (ส่วนที่ 1)</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<form [formGroup]="formgroup" (ngSubmit)="doUpdate()">

    <ion-card id="css" padding>
        <ion-grid>
          <ion-row item-content>
            <ion-col col-4>
              <ion-label text-wrap for="check_date">วันที่ตรวจ</ion-label>
            </ion-col>
          <ion-col col-6>
            <ion-datetime
              displayFormat="DD MMMM YYYY"
              pickerFormat="DD MMMM YYYY"
              min={{startMin}} max={{startMax}}
              formControlName="check_date"
              placeholder="ระบุวันที่ตรวจ"
              [(ngModel)]="presentDate"
              monthNames="มกราคม, กุมภาพันธ์, มีนาคม,เมษายน,พฤษภาคม,มิถุนายน,กรกฎาคม,สิงหาคม ,กันยายน ,ตุลาคม ,พฤศจิกายน ,ธันวาคม, ">
          </ion-datetime>
          </ion-col>
        </ion-row>
      </ion-grid>



      <ion-item no-lines><div>เหงื่อแตก ผิวอุ่นและชื้น</div></ion-item>
      <ion-list radio-group formControlName="sweat">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-radio [value]="0"></ion-radio>
                <ion-label>ไม่พบ</ion-label>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-radio [value]="1"></ion-radio>
                <ion-label>พบ</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>

      <ion-item no-lines><div>ผมเส้นเล็กและร่วงง่าย</div></ion-item>
      <ion-list radio-group formControlName="hair_loss">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-radio [value]="0"></ion-radio>
                <ion-label>ไม่พบ</ion-label>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-radio [value]="1"></ion-radio>
                <ion-label>พบ</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>

      <ion-grid>
        <ion-row>
          <ion-col col-3>
        <label for="body_weight">BW</label>
      </ion-col>
        <input
          type="text"
          id="body_weight"
          name="body_weight"
          formControlName="body_weight"
          size="10">
        <label for="kg">&ensp;kg</label>
      </ion-row>
    </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col col-3>
        <label for="heart_rate">PR</label>
      </ion-col>
        <input
          type="text"
          id="heart_rate"
          name="heart_rate"
          formControlName="heart_rate"
          size="10">
        <label for="bpm">&ensp;bpm</label>
      </ion-row>
    </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col col-3>
        <label for="blood_pressure">BP</label>
      </ion-col>
        <input
          type="text"
          id="blood_pressure_upper"
          name="blood_pressure_upper"
          formControlName="blood_pressure_upper"
          size="5"
        >
        <label for="/"> </label>
        <label for="/">&ensp; / &ensp;</label>
        <input
          type="text"
          id="blood_pressure_lower"
          name="blood_pressure_lower"
          formControlName="blood_pressure_lower"
          size="5"
        >
        <label for="kg">&ensp; mmHg</label>
      </ion-row>
    </ion-grid>

      <ion-item no-lines><div>ตาโปนหรือตาโตกว่าปกติ</div></ion-item>
      <ion-list radio-group formControlName="eye_detect">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-radio [value]="0"></ion-radio>
                <ion-label>ไม่พบ</ion-label>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-radio [value]="1"></ion-radio>
                <ion-label>พบ</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>

    <ion-grid *ngIf="formgroup.controls.eye_detect.value === 1">
      <ion-row>
        <ion-col col-4>
            <label for="eye_result">ระบุ</label>
        </ion-col>
            <ion-col col-6>
              <ion-item>
                <select formControlName="eye_result">
                  <option value="น้อย">น้อย</option>
                  <option value="ปานกลาง">ปานกลาง</option>
                  <option value="มาก">มาก</option>
                </select>
              </ion-item>
            </ion-col>
      </ion-row>
    </ion-grid>
    <br>

    <ion-grid *ngIf="formgroup.controls.eye_detect.value === 1">
      <ion-row>
        <ion-col>
          <div>
           <h2><b>ส่งปรึกษาจักษุแพทย์</b></h2>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="formgroup.controls.eye_detect.value === 1"> 
      <ion-row>
        <ion-col col-4>
          <label for="doctor_name">ชื่อจักษุแพทย์</label>
        </ion-col>
        <ion-col col-6>
          <input
            type="text"
            id="doctor_name"
            name="doctor_name"
            formControlName="doctor_name"
            size="20">
        </ion-col>
      </ion-row>
    </ion-grid>

      <ion-grid *ngIf="formgroup.controls.eye_detect.value === 1">
        <ion-row>
          <ion-col col-4>
          <ion-label for="doctor_date">วันที่ตรวจตา</ion-label>
        </ion-col>
        <ion-col col-6>
          <ion-datetime
            displayFormat="DD MMMM YYYY"
            pickerFormat="DD MMMM YYYY"
            min={{startMin}} max={{startMax}}
            formControlName="doctor_date"
            placeholder="*ต้องระบุวันที่ตรวจตา"
            [(ngModel)]="presentDate2"
            monthNames="มกราคม, กุมภาพันธ์, มีนาคม,เมษายน,พฤษภาคม,มิถุนายน,กรกฎาคม,สิงหาคม ,กันยายน ,ตุลาคม ,พฤศจิกายน ,ธันวาคม, ">
          </ion-datetime>
        </ion-col>
      </ion-row>
    </ion-grid>


      <ion-grid *ngIf="formgroup.controls.eye_detect.value === 1" >
        <ion-col col-4>
          <label>ไฟล์ผลการตรวจ</label>
        </ion-col>
        <button ion-button (click)="AlertTakePhoto()">เลือกรูปภาพ</button>
      </ion-grid>

      <ion-grid *ngIf="formgroup.controls.eye_detect.value === 1">
        <ion-item *ngIf="myPhoto">
          <p><img align="center" src="{{ myPhoto }}"/></p>
          <button type="submit" ion-button color="1" id="button" (click)="ConfirmPic()">อัพโหลดรูปภาพ</button>
        </ion-item>
      </ion-grid>

      <ion-grid *ngIf="formgroup.controls.eye_detect.value === 1">
        <ion-row>
          <ion-col col-4>
              <label for="doctor_result">ผลการตรวจตา</label>
            </ion-col>
              <ion-col col-6>
              <select formControlName="doctor_result">
                <option value="สามารถกลืนแร่ได้">สามารถกลืนแร่ได้</option>
                <option value="ไม่สามารถกลืนแร่ได้">ไม่สามารถกลืนแร่ได้</option>
              </select>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="formgroup.controls.eye_detect.value === 1" >
        <ion-row>
          <ion-col col-4>
            <label for="treatment">การรักษา</label>
          </ion-col>
          <ion-col col-6>
            <input
              type="text"
              id="treatment"
              name="treatment"
              formControlName="treatment"
              size="20">
          </ion-col>
        </ion-row>
      </ion-grid>
      </ion-card>
      <button type="submit" ion-button color="1" id="button" (click)=" presentConfirm()">บันทึกข้อมูล</button>
</form>



</ion-content>
