<!--
  Generated template for the EditantidepressantPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="1">
    <ion-title>การงดยาต้านไทรอยด์</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card id="css" padding>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <label class="topic" for="BetaBlock">ผู้ป่วยต้องงดยาต้านไทรอยด์หรือไม่ </label>
        </ion-col>
        <ion-col col-6>
          <select [(ngModel)]="isControl" (change)="isShow($event.target.value)">
            <option value="ต้อง">ต้อง</option>
            <option value="ไม่ต้อง">ไม่ต้อง</option>
          </select>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div *ngIf="showData">
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <div class="topic" color="dark">
              ยาต้านไทรอยด์จะยับยั้งการจับแร่ไอโอดีนของต่อมไทรอยด์
              ผู้ป่วยควรงดยาต้านไทรอยด์ 3 วันก่อนการกลืนแร่
            </div>
          </ion-col>
          <ion-col col-12>
            ตั้งแต่ {{dateBefore}}
          </ion-col>
          <!-- <ion-col col-4>
            ตั้งแต่
          </ion-col>
          <ion-col col-6>
            <ion-datetime
              displayFormat="DD MMMM YYYY"
              pickerFormat="DD MMMM YYYY"
              min={{startMin}} max={{startMax}}
              placeholder={{dateBefore}}
              [(ngModel)]="dateBefore"
              monthNames="มกราคม, กุมภาพันธ์, มีนาคม,เมษายน,พฤษภาคม,มิถุนายน,กรกฎาคม,สิงหาคม ,กันยายน ,ตุลาคม ,พฤศจิกายน ,ธันวาคม, ">
          </ion-datetime>
          </ion-col> -->
  
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <div class="topic" color="dark">
              และเริ่มกินยาต้านไทรอยด์หลังการกลืนแร่ในวันที่
            </div>
          </ion-col>
          <ion-col col-12>
            ตั้งแต่ {{dateAfter}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngIf="!showData">
      <ion-item no-lines>
        <ion-label style="text-align: center;" color="dark">ไม่ต้องงดยาต้านไทรอยด์</ion-label>
      </ion-item>
    </div>
  </ion-card>
  <button ion-button color="1" (click)="presentConfirm()">บันทึก</button>
</ion-content>
