page-followuptreatmentresult {
    ion-label{
        font-size: 17px;

    }

    .button{
        font-size: 17px;
    }

    ion-icon{
        font-size: 40px;
    }

    #tabMain{
        padding-left:1em
    }

    #tabSub{
    padding-left:3em
    }

    .topic{
        font-weight: bold;
    }

    .editButton{
        margin-right: 20px;
        margin-bottom: 10px;
    }

    @media only screen and (min-width: 1224px) {
        ion-icon{
            font-size: 64px;
           }

        ion-label{
            font-size: 20px;

        }
        .button{
            font-size: 20px;
        }
        #css{
            width: 40%;
            position: relative;
            left: 30%;

        }


      }
}
