page-home {
  
  .profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  #title {
    text-align: left;
    color: rgb(0, 0, 0);
  }
  #subtitle {
    text-align: left;
    background-color: #32D1AC;
    margin: 15px;
    padding: 5px;
    border: 0.5px solid black;
  }
  #textlink {
    text-align: left;
    margin: 15px;
    padding: 5px;
  }

  .slides {
    width: 100%;
  }

  #clip {
    text-align: center;
  }

  ion-slides {
    height: auto;
  }

  @media only screen and (min-width: 1224px) {

    ion-slides {
      padding-left: 10%;
      padding-right: 10%;
      background-color: white;
    }

    #subtitle {
      text-align: left;
      background-color: #32D1AC;
      margin: 15px;
      padding: 5px;
      border: 0.5px solid black;
      font-size: 20px;
    }

  }
  
}
