<ion-header>
  <ion-navbar color="1">
    <ion-title id="title">{{title}}</ion-title>

    <ion-buttons end *ngIf="showButton">
      <button ion-button icon-only (click)="goLoginPage()">
        <ion-icon name="log-in"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content overflow-scroll="true">
  <ion-slides pager="true" autoplay="400" loop="true" speed="3000">
    <ion-slide>
      <img class="slides" src="assets/imgs/Thyroid_Slide1.png" />
    </ion-slide>

    <ion-slide>
      <img class="slides" src="assets/imgs/Thyroid_Slide2.png" />
    </ion-slide>

    <ion-slide>
      <img class="slides" src="assets/imgs/Thyroid_Slide3.png" />
    </ion-slide>
  </ion-slides>

  <!-- <ion-slides pager="true" autoplay="400" loop="true" speed="3000">
    <ion-slide style="background-color: green">
      <h2>Slide 1</h2>
    </ion-slide>

    <ion-slide style="background-color: blue">
      <h2>Slide 2</h2>
    </ion-slide>

    <ion-slide style="background-color: red">
      <h2>Slide 3</h2>
    </ion-slide>
  </ion-slides> -->

  <div id="subtitle">ความรู้ทั่วไปเกี่ยวกับโรคไทรอยด์</div>

  
  <ion-grid>
    <ion-row>
      <ion-col
        col-12
        col-sm-6
        col-md-4
        col-lg-3
        col-xl-3
        *ngFor="let item of posts"
      >
        <ion-card>
          <ion-card-header>
            {{item.snippet.title}}
          </ion-card-header>
          <ion-card-content>
            <iframe
              height="80%"
              width="100%"
              class="youtube-player"
              type="text/html"
              [src]="item.contentDetails.videoId | youtube"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
              style="text-align: center;"
            ></iframe>
            <!-- <img [src]="item.snippet.thumbnails.high.url"> -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div id="subtitle">อินโฟกราฟิกความรู้เรื่องการดูแลรักษาโรคต่อมไทรอยด์</div>
        <a target="_blank" id="textlink" href="https://drive.google.com/drive/folders/1AliXroxocul_M9sIQao-P6vRNt2_vA4E?usp=sharing">คลิกเพื่อเข้าอ่านหรือดาวน์โหลดเอกสาร</a>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
